.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    row-gap: 6px;
    overflow-y: auto;
}

.chat{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    row-gap: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px
}

.emissor_data{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.emissor_name {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.bot {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: auto;
    width: 50%;
}

.bot_message {
    align-items: center;
    background-color: lightblue;
    border-radius: 15px;
    display: flex;
    height: auto;
    min-height: 35px;
    padding: 6px;
}

.you {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: auto;
    margin-left: 50%;
    width: 50%;
}

.you_message {
    align-items: center;
    background-color: lightgrey;
    border-radius: 15px;
    display: flex;
    height: auto;
    padding: 6px;
    word-break: break-all;
    word-wrap: break-word;
}

.input_button_message{
    column-gap: 6px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.input_message{
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-grow: 1;
    padding-left: 6px;
}

.button_message{
    align-items: center;
    background-color: lightgray;
    border-radius: 50px;
    display: flex;
    flex-grow: 0;
    justify-content: center;
    width: 80px;
}