.container_list_participant {
    overflow-y: scroll;
    height: 190px;
}

.list_participant {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.participant {
    width: 25%
}

.input_participant {
    width: 25%
}

.button_add_participant {
    width: 25% ;
    background-color: grey;
}

.button_pick_winner {
    width: 25% ;
    background-color: grey;
}