.page_lottery {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container_participants_winner {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}

.container_list_participant {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
}


.list_participant {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    padding-top: 30px;   
    row-gap: 30px;
    width: 100%;
}

.participant {
    align-items: center;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30%;
    overflow: hidden;
    width: 22%;
}

.participant_2 {
    align-items: center;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30%;
    overflow: hidden;
    width: 30%;
}

.name_participant {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-left: 10px;
    width: 70%;
    word-break: break-word;
    word-wrap: break-word;
}

.delete_participant {
    display: flex; 
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    width: 30%;
}

.container_winner {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    max-height: calc(100vh - 150px);
    max-width: 25%;
    overflow: hidden;
}

.winner {
    align-items: center;
    background-color: gold;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    max-height: 50%;
    max-width: 80%;
    overflow: hidden;
    padding: 40px;
    width: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.hide {
    display: none;
}

.container_list_interaction {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    height: 72px;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.input_participant {
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-shrink: 0;
    padding-left: 10px;
    width: 280px;
}

.button_add_participant {
    align-items: center;
    background-color: lightgreen;
    border-radius: 15px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 80px ;
}

.button_pick_winner {
    align-items: center;
    background-color: goldenrod;
    border-radius: 15px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 140px ;
}